<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>bookings</title>
</head>
<body>
    <h1>HERE IS YOUR TICKET HAVE A SAFE JOURNEY</h1>
    <h1>TABLENAME:<%= tablename %></h1>
    <h1>NAME:<%= dataname %></h1>
    <h1>PICK:<%= pickup %></h1>
    <h1>DROP:<%= drop %></h1>
    
    
</body>
</html>